# Josh Bielenberg Exploring Data

Import relevant packages

In [22]:
import pandas as pd
import numpy as np
from pandas.io.json import json_normalize
import json
import ast

Create dataframes

In [57]:
tedTalks = pd.read_csv("../Data/ted_main.csv")
transcripts = pd.read_csv("../Data/transcripts.csv")

t = ast.literal_eval(tedTalks['ratings'][0])
df = pd.DataFrame(json_normalize(t))
df.set_index('name').T

name,Funny,Beautiful,Ingenious,Courageous,Longwinded,Confusing,Informative,Fascinating,Unconvincing,Persuasive,Jaw-dropping,OK,Obnoxious,Inspiring
count,19645,4573,6073,3253,387,242,7346,10581,300,10704,4439,1174,209,24924
id,7,1,9,3,11,2,8,22,21,24,23,25,26,10